<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
	<listener class-name="com.OrangeHRM.Utilities.Listeners"/>
</listeners>

  <test  name="LoginCheckTest">
    <classes>
    
      <class name="com.OrangeHRM.TestCases.TC_0001_LoginCheckHRM">
      <methods>
	 
	  <include name="addEmployee"/>      
	  <include name="adminEmployeeStatus"/>
      </methods>
   </class> 
    
  <!-- <class name = "com.OrangeHRM.TestCases.TC_003_Admin_Job_EmployeeStatus">
   <methods>
   <include name="loginPageCheck"/> 
   <include  name="checkEmployeeStatus"/>
   </methods>
   </class>-->
   
   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
